{
  "policies": {
    "DisableAppUpdate": true,
    "DisableTelemetry": true,
    "DisableFirefoxStudies": true,
    "DisablePocket": true,
    "DisableFirefoxAccounts": true,
    "DisableFormHistory": true,
    "DisableProfileImport": true,
    "DisableProfileRefresh": true,
    "DisableDefaultBrowserAgent": true,
    "DontCheckDefaultBrowser": true,
    "OverrideFirstRunPage": "",
    "OverridePostUpdatePage": "",
    "Homepage": {
      "URL": "{{ tessella_client_kiosk_url }}",
      "Locked": true,
      "StartPage": "homepage"
    },
    "Preferences": {
      "browser.sessionstore.resume_from_crash": {
        "Value": false,
        "Status": "locked"
      },
      "browser.shell.checkDefaultBrowser": {
        "Value": false,
        "Status": "locked"
      },
      "datareporting.policy.dataSubmissionEnabled": {
        "Value": false,
        "Status": "locked"
      },
      "toolkit.telemetry.enabled": {
        "Value": false,
        "Status": "locked"
      }
    }
  }
}
