[Desktop Entry]
# Tessella Kiosk – Autostart-Eintrag
# Generiert von Ansible – nicht manuell bearbeiten!
Type=Application
Name=Tessella Kiosk
Comment=Startet Firefox im Kiosk-Modus für Tessella
Exec=/home/{{ tessella_client_user }}/.local/bin/tessella-kiosk.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
